
    <h1>CSE Motors</h1>
    <h2>Welcome to CSE Motors!</h2>

    <div>
        <p>DMC Delorean</p>
        <img src="/images/dlorean.jpg" alt="DMC Delorean">
    </div>
    <div>
        <p>Views</p>
        <img src="views.jpg" alt="Views">
    </div>
    <div>
        <p>DMC Delorean Thumbnails</p>
        <img src="/images/delorean-tn.jpg" alt="DMC Delorean Thumbnails">
    </div>
    <h3>DMC Delorean Reservations</h3>
    <p>Reservations Available</p>
    <div>
        <img src="/public/images/upgrades/flux-cap.png" alt="Flux">
        <img src="/public/images/upgrades/flame.jpg" alt="Flame">
        <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Sticker">
        <img src="/public/images/upgrades/hub-cap.jpg" alt="Cap">
    </div>
    <div class="container">
        <div class="image-container">
            <img src="/public/images/vehicles/no-image.png" alt="Image 2">
            <!-- Add more images as needed -->
        </div>
    </div>

