/* Fonts */
/* 
   font-family: 'Electrolize', sans-serif;
   font-family: 'Share Tech', sans-serif;
*/

/* Code for the whole page */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  background-color: #f0f0f0;
  background-image: url("../images/site/checkerboard.jpg");
}

.page {
  background-color: #ffffff;
}

/* Code for the header */
header {
  padding: 5px;
  background-color: #ffffff;
}

header img {
  display: block;
  float: left;
}

header p {
  float: right;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

.name-label {
  font-size: 0.6em;
  clear: both;
  float: right;
}

/* Code for the navigation */
nav {
  clear: both;
  font-size: 0.5em;
  text-align: center;
}

nav ul {
  display: flex;
  background-color: rgba(14, 10, 17, 0.886);
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

.nav {
  text-align: center;
  color: hwb(0 95% 3%);
  padding: 20px;
  margin-right: 20px;
}

nav li {
  display: inline;
  color: hwb(0 95% 3%);
  margin-right: 20px;
  text-align: center;
}

nav li a {
  display: block;
  color: #f5eded;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-size-adjust: auto;
}

nav li a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}



/* For a blue margin */
main {
  background-color: white;
  overflow: auto; /* Add scrollbars if content exceeds max-height */
  justify-content: center;
  border: 5px solid rgb(107, 153, 247);
  border-radius: 10px;
  padding: 20px;
}

.boundary {
  border-radius: 10px; /* Adjust the value to control the curve radius */
  border: 5px solid rgb(107, 153, 247); /* Add a border for clarity */
  padding: 20px; /* Add padding for visual space */
}

/********************************************/

.container {
  position: relative;
}

.container h2 {
  color: #09944f;
}

.container p {
  color: #4c96d7;
}

.container {
  width: 200px; /* Set a fixed width */
  min-height: 500px; /* Set a minimum height */
  max-height: 90vh; /* Set a maximum height to keep it within the viewport */
  height: auto; /* Allow the container to expand vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto; /* Add vertical scrollbar if content exceeds container height */
}

.button {
  display: flex;
  padding: 10px;
  text-align: center;
  max-width: 80%;
  color: #ffffff;
  background-color: #78baf4;
  text-decoration: none;
}

.upgrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  width: 80%;
}

.item {
  text-align: center;
  color: #ffffff;
  background-color: #4c96d7;
  border: #3a3a3a solid 2px;
}

.item img {
  display: block;
  margin: 0 auto;
}

#pass-label {
  color: red;
  font-size: 0.5em;
}

.reviews p {
  border: black solid 2px;
  margin-top: 10px;
}

/* Code for the footer */
footer {
  text-align: left;
  font-size: 0.5em;
  border-top: solid 5px #ffffff;
  background-color: #ffffff;
  padding-bottom: 20px;
  clear: both;
}
